.container {
  margin: 50px 15%;
  margin-top: 0;
  background-color: black;
  padding: 15px;
  min-height: 60vh;
}
body {
  background-color: black;
  color: white;
}
.content {
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  margin-bottom: 0%;
  padding-top: 125px;
}

span {
  vertical-align: middle;
}
