.cardGroup {
  display: flex;
  flex-wrap: wrap;
}

h5 {
  padding-bottom: 15px;
  line-height: 30px;
}

.Link {
  color: white;
}

.Link:hover {
  color: white;
  text-decoration: none;
}

.Card1 {
  background-color: #000088;
  max-width: 20rem;
  margin: 15px;
  margin-left: 0;
  transition: background-color ease-in-out 0.5s;
}

.Card1:hover {
  background-color: #0000ff;
}

@media only screen and (max-width: 542px) {
  .Card1 {
    margin-right: 0;
    margin-left: 0;
  }
  .cardGroup {
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
  }
}
